@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: all 0.5 ease-in-out;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dark-theme {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #858585;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-gradient-cusotom {
  height: 500px;
  width: 70%;
  position: fixed;
  z-index: -10;
  top: 30px;
  left: 10%;
  filter: blur(100px);
  background: radial-gradient(
    circle,
    rgb(247, 196, 218) 0%,
    rgb(172, 203, 238) 100%
  );
}

.btn-custom{
  margin-left: 20px;
}

.btn-custom:hover{
  opacity: .9;
}

.active, .btn-custom{
  background: #000;
  color: white;
  padding: 6px 10px;
  letter-spacing: 2px;
  font-family: sans-serif;
}

.active:active, .btn-custom:active {
  background-color: #1f1f1f;
  transform: scale(.96);
}

.custom-width {
  @apply md:w-10/12 mx-auto;
}

input:focus {
  outline: none;
}

.input-style {
  @apply rounded-full py-1 my-3 pl-3 bg-transparent border;
  @apply focus:outline-none;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
    transform: translateY(10%);
  }
  50%{
      transform: translateX(50%);
      /* transform: translateY(50%); */
  }
  100% {
    transform: translateX(100%);
    /* transform: translateY(-10%); */
  }
}

.infiniteAnimation {
  animation: moveLeftToRight 15s infinite linear; /* Adjust the duration and timing function as needed */
}